In [1]:
import pandas as pd
import pathlib

In [2]:
training_messy = pd.read_csv('training_messy.csv')
training_messy

,Location,NTDs,Poisoning,Tobacco,Tuberculosis,Under5Mortality,DrinkingWater,AdBirthRate,Alcohol,BasicSanitization,CancerEtc,MedDocs,HALE,HIV,InfantMortality,LifeExpectancy,Malaria,MidwifeNursing,MaternalMortality,NeonatalMortality
0,Afghanistan,13765392,1.22,NaN,189 [122-270],70.44 [60.72-80.86],52.39,NaN,0.210,40.71,29.8,2.85,52.60,0.03 [0.01-0.11],53.17 [46.81-59.79],61.65,14.91,1.30,701 [501-1020],40.27 [34.34-46.94]
1,Albania,16,0.43,29.9,17 [14-19],9.57 [9.23-9.94],89.88,20.2,6.740,97.69,17.4,NaN,69.03,0.04 [0.01-0.08],8.51 [8.21-8.84],77.84,NaN,NaN,15 [8-25],6.03 [5.49-6.54]
2,Algeria,7561,0.80,19.3,75 [57-94],25.18 [24.61-25.75],88.69,9.7,0.930,87.50,14.4,NaN,65.99,0.05 [0.02-0.07],21.61 [21.13-22.1],76.54,0.00,NaN,114 [67-199],15.05 [14.4-15.68]
3,Andorra,0,NaN,34.2,5.9 [5-6.8],3.53 [1.23-10.59],100.00,3.1,11.010,100.00,NaN,33.33,NaN,NaN,3.34 [1.17-10.03],NaN,NaN,40.13,NaN,1.71 [0.56-5.27]
4,Angola,18534219,2.95,NaN,366 [237-523],88.2 [46.58-149.6],26.71,NaN,7.960,47.37,16.9,NaN,53.66,0.95 [0.73-1.19],57.82 [34.14-91.99],61.72,200.00,NaN,251 [178-353],30.63 [15.65-53.27]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,Venezuela (Bolivarian Republic of),280243,0.30,NaN,30 [23-38],NaN,95.83,NaN,6.820,93.94,18.2,NaN,65.10,0.2 [0.14-0.26],NaN,74.66,10.57,NaN,115 [92-151],14.45 [13.64-15.31]
190,Viet Nam,4468764,0.93,NaN,199 [125-290],NaN,90.73,NaN,7.860,80.08,17.3,7.96,64.89,0.11 [0.09-0.12],NaN,73.16,0.17,14.23,45 [33-62],11.37 [9.16-13.76]
191,Yemen,5840695,3.74,22.2,48 [42-54],NaN,54.70,NaN,0.055,58.50,30.7,NaN,58.38,0.04 [0.02-0.07],NaN,67.47,24.90,7.24,169 [105-264],26.65 [19.45-36.23]
192,Zambia,11830416,3.06,15.4,391 [253-558],NaN,40.59,NaN,6.890,25.98,18.0,NaN,52.71,4.11 [3.45-5.04],NaN,60.50,202.50,NaN,232 [178-305],24.53 [21.29-28.42]
193,Zimbabwe,10346543,2.37,14.5,242 [179-314],NaN,51.03,NaN,4.920,37.57,19.4,1.82,51.17,3.91 [2.75-5.4],NaN,58.48,97.65,13.83,480 [385-588],27.89 [23.72-32.63]

In [8]:
training_messy.isnull().sum()

Location              0
NTDs                  0
Poisoning            11
Tobacco              45
Tuberculosis          0
Under5Mortality      22
DrinkingWater         1
AdBirthRate          88
Alcohol               6
BasicSanitization     1
CancerEtc            11
MedDocs              89
HALE                 11
HIV                  24
InfantMortality      22
LifeExpectancy       11
Malaria              87
MidwifeNursing       61
MaternalMortality    11
NeonatalMortality     1
dtype: int64